<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Λugment - Contact Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:title" content="Get in touch with Augment!" />
    <meta property="og:description" content="A community of intern leaders who seek to help empower and elevate students all across the world." />
    <meta property="og:image" content="http://augmentofficial.com/images/landing.png" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">
    <link rel="stylesheet" href="css/meanmenu.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/slick.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/aug-style.css">
    <link rel="stylesheet" href="css/modal-style.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <!-- Nav -->
  <section class="pageTop" style="background: linear-gradient(279.37deg, #7A139A -0.19%, #B71ACE 98.61%); height: 300px">
    <header style="padding-top: 2%; margin-bottom: 2%; background: transparent">
          <a class="logo" href="/" style="color: white!important">Λugment</a>
          <nav>
              <ul class="nav__links">
                  <li><a href="/about" style="color:white">About Us</a></li>
                  <li><a href="/events" style="color:white">Events</a></li>
                  <li><a href="/articles" style="color:white">Articles</a></li>
                  <li><a style="font-weight: 700; color:white">Contact Us</a></li>
              </ul>
          </nav>
          <p class="menu cta" style="margin:0" onclick="openMblMenu()">Menu</p>
    </header>

    <div id="mobile__menu" class="overlay">
        <a class="close" onclick="closeMblMenu()">&times;</a>
        <div class="overlay__content" style="white-space: nowrap">
            <a href="/about">About Us</a>
            <a href="/events">Events</a>
            <a href="/articles">Articles</a>
            <a style="font-weight: 700; color: #6f32a8;">Contact Us</a>
        </div>
    </div>

    <div class="container" style="padding-left: 0; padding-right: 0">
            <!-- Landing Area -->
            <section class="landing-area" style="padding-top: 0px!important; height: 250px; background: transparent">
                <div class="div-about-head">
                  <ul class="about-head">
                  <p class="about-mainhead" style="font-size:35px; color: white">Contact Us</p>
                    <li style = "list-style: none; display: inline-table;">
                      <a href="mailto: officialaugment@gmail.com" target="_blank">
                        <span class="icon icon-envelope" style = "padding-right: 15px; color: white; font-size: 18px;"></span>
                        <span class="text-link" style="color: white; font-weight: bold; font-size: 18px; color: white; ">officialaugment@gmail.com</span>
                      </a>
                    </li>
                    <li class = "medium-link" style = "list-style: none; display: inline-table; padding-right: 20px; padding-left: 100px;">
                      <a href="http://medium.com/augment-official/" target = "_blank">
                        <span class="icon icon-medium" style = "padding-right: 15px; color: white; font-size: 18px;"></span>
                        <span class="text-link" style="font-weight: bold; font-size: 18px; color: white;">http://medium.com/augment-official/</span>
                      </a>
                    </li>
                  </ul>
                </div>
            </section>
    </div>
  </section>

  <!-- END NAV -->

  <body>

    <!--Styling (styling that should not be inline)-->
    <style>
      .text-link:hover{
        text-decoration: underline;
      }

      .form-control:focus{
        border: 2px solid #673AA2;
      }

      @media(max-width: 1008px){
        .medium-link{
          display: block !important;
          padding-left: 0 !important;
        }
        p.about-mainhead {
          padding-top: 20px !important;
        }
      }

      @media (max-width: 487px){
        p.about-mainhead {
          padding-top: 100px !important;
        }
      }

      @media (max-width: 465px) {
        .text-link {
          font-size: 15px !important;
        }

        p.about-mainhead {
          padding-top: 20px !important;
        }

        .icon {
          font-size: 15px !important;
        }

        section.pageTop {
          height: 260px !important;
        }
      }

      @media (max-width: 372px) {
        .text-link {
          font-size: 13px !important;
        }

        .text-section{
          padding-top: 10px !important;
        }

        .icon {
          font-size: 13px !important;
        }
      }
    </style>

    <section class="ftco-section contact-section">
      <div class="container" style="text-align: left; margin-top:-50px;">
        <div class="row d-flex mb-5 contact-info">
          <div class="col-md-12 mb-4">
            <h2 class="h3" style = "font-size: 24px; font-weight: bold;">Have any inquiries? Send us an email below:</h2>
          </div>
          <div class="w-100"></div>
        </div>
        <div class="row block-9 no-gutters" style="margin-top: -50px;">
          <div class="col-lg-12 order-md-last d-flex">
            <form action="mailto:officialaugment@gmail.com" class="contact-form">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Your message here" required></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send message" class="btn btn-primary py-3 px-5" style=" font-size: 16px; font-weight: bold; border-radius: 8px; width: 182px; height: 40px; padding: 0 !important;">
              </div>
            </form>
          </div>
          </div>
        </div>
      </section>

    <%- include('../template/footer') -%>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#6f32a8"/>
      </svg>
    </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="js/mobileMenu.js"></script>
  <script src="js/main.js"></script>
</body>
</html>