<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="logo"><a href="/">Λugment</a></h2>
          <p style="color:white;">A community of intern leaders who seek to help empower and elevate students all across the world.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="https://www.linkedin.com/company/augment-official/"><span class="icon-linkedin"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Latest News</h2>
            <div class="block-21 mb-4 d-flex">
              <a class="img mr-4 rounded" style="background-image: url(images/guide.jpeg);"></a>
              <div class="text">
                <h3 class="heading"><a href="/articles" style="color:white;">A “How To Product Guide” for Machine Learning</a></h3>
                <div class="meta">
                  <div><a href="/articles"></span> June. 9, 2020</a></div>
                  <div><a href="/articles"></span> 6 min read</a></div>
                </div>
              </div>
            </div>
            <div class="block-21 mb-4 d-flex">
              <a class="img mr-4 rounded" style="background-image: url(images/tesla.jpeg);"></a>
              <div class="text">
                <h3 class="heading"><a href="/articles" style="color:white;">The Postmortem: Tesla (3/4)</a></h3>
                <div class="meta">
                  <div><a href="/articles"></span> May. 29, 2020</a></div>
                  <div><a href="/articles"></span> 9 min read</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Information</h2>
            <ul class="list-unstyled">
              <li><a href="/" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Home</a></li>
              <li><a href="/about" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>About</a></li>
              <li><a href="/articles" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Articles</a></li>
              <li><a href="/events" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Events</a></li>
              <li><a href="/contact" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Contact Us!</h2>
            <div class="block-23 mb-3">
              <ul>
              <li><span class="icon icon-map-marker"></span><span class="text" style="color:white;">Toronto, ON CA</span></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">officialaugment@gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p style="color: white;">Copyright &copy;<script>document.write(new Date().getFullYear());</script> | All rights reserved | Λugment</p>
      </div>
    </div>
  </div>
</footer>
